RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?besutopharmapack\.com
RewriteCond %{HTTP_HOST} ^ besutopharmapack\.com
RewriteRule ^(.*)$ https://www.besutopharmapack.com/$1 [R,L]
